
/* General overall style if not over-ridden. */
/* This removes the default HTML style assumptions. */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* ========================================================== */
/* Define the main body style. */
body {
    background-color: #d9dcd6;
}

/* ========================================================== */
/* Define the style for the "header" area. */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Define the styles for the "h1 element of the header area". */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Change the color of the letters "seo". */
.header h1 .seo {
    color: #cf6f20;
}

/* Define the style for the header navigation links. */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}

/* ========================================================== */
/* Define the styles for the "hero area", the big image. */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;      /* avoids clippling the image */
    background-position: center;
}

/* ========================================================== */
/* Define general over-arching styles for page content. */
a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}


/* ========================================================== */
/* Define the styles for the main content panels. */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.panels {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.panels img {
    max-height: 200px;
}

.float-left {  /* specific image style */
    float: left;
    margin-right: 25px;
}

.float-right {  /* specific image style */
    float: right;
    margin-left: 25px;
}

.panels h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* ========================================================== */
/* Define the styels for the "benefits" side-bar. */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    margin-bottom: 32px;
    color: #ffffff;
}

.benefits h3 {
    margin-top: 39px;
    margin-bottom: 35Spx;
    text-align: center;
}

.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* ========================================================== */
/* Define the styles for the "Footer Area". */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
